@model IEnumerable<AnimalVaccProject.Models.SampleType>

@{
    ViewBag.Title = "Index";
}

<h2>قائمة العينات</h2>

<p>
    @Html.ActionLink("إضافة عينة جديدة", "Create")
</p>
<table class="table">
    <tr>
        <th>
           نوع العينة
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("تعديل", "Edit", new { id=item.Id }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
